version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            virtualenv -p python3 /usr/local/share/virtualenvs/tap-autopilot
            source /usr/local/share/virtualenvs/tap-autopilot/bin/activate
            pip install .[dev]
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-autopilot/bin/activate
            pylint tap_autopilot -d C,W
      - run:
          name: 'JSON Validator'
          command: |
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            stitch-validate-json /usr/local/share/virtualenvs/tap-autopilot/lib/python3.5/site-packages/tap_autopilot/schemas/*.json
      # - run:
      #     name: 'Unit Tests'
      #     command: |
      #       source ~/.virtualenvs/tap-autopilot/bin/activate
      #       pip install nose
      #       nosetests
      # - add_ssh_keys
      # - run:
      #     name: 'Integration Tests'
      #     command: |
      #       aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/sandbox dev_env.sh
      #       source dev_env.sh
      #       source /usr/local/share/virtualenvs/tap-tester/bin/activate
      #       run-a-test --tap=tap-autopilot \
      #                  --target=target-stitch \
      #                  --orchestrator=stitch-orchestrator \
      #                  --email=harrison+sandboxtest@stitchdata.com \
      #                  --password=$SANDBOX_PASSWORD \
      #                  --client-id=50 \
      #                  tap_tester.suites.autopilot
workflows:
  version: 2
  commit:
    jobs:
      - build
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
          context: circleci-user
